{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://admin.lsp-mpsdm.com",
            "description": "Production API Server"
        },
        {
            "url": "https://admin-staging.lsp-mpsdm.com",
            "description": "Staging API Server"
        },
        {
            "url": "http://127.0.0.1:8000",
            "description": "Local Development API Server"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Sign In",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::login",
                "requestBody": {
                    "description": "Login Credential",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "account email",
                                        "type": "string",
                                        "example": "johndoe@example.com"
                                    },
                                    "password": {
                                        "description": "account password",
                                        "type": "string",
                                        "format": "password",
                                        "example": "pass1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register Account",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::register",
                "requestBody": {
                    "description": "Register Account",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "Login Function.",
                                        "type": "string",
                                        "format": "email",
                                        "example": "johndoe@example.com"
                                    },
                                    "password": {
                                        "description": "Login Function.",
                                        "type": "string",
                                        "format": "password",
                                        "example": "pass1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/order": {
            "get": {
                "tags": [
                    "Order"
                ],
                "summary": "Order Index",
                "operationId": "App\\Http\\Controllers\\Api\\OrderController::index",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Order"
                ],
                "summary": "Create New Order",
                "operationId": "App\\Http\\Controllers\\Api\\OrderController::store",
                "requestBody": {
                    "description": "Update Order Data",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "sertifikasi_id": {
                                        "description": "Sertifikasi ID",
                                        "type": "number",
                                        "example": "1"
                                    },
                                    "tuk_id": {
                                        "description": "TUK ID",
                                        "type": "number",
                                        "example": "1"
                                    },
                                    "tipe_sertifikasi": {
                                        "description": "Tipe Order, Example: baru/perpanjang",
                                        "type": "string",
                                        "example": "baru"
                                    },
                                    "training": {
                                        "description": "Order dengan Training",
                                        "type": "boolean",
                                        "example": "false"
                                    },
                                    "sertifikat_number_old": {
                                        "description": "Nomor Sertifikat Lama, Kirimkan value jika Tipe Order: perpanjang",
                                        "type": "boolean",
                                        "example": "123-123-123"
                                    },
                                    "sertifikat_date_old": {
                                        "description": "Tanggal Sertifikat Lama, Kirimkan value jika Tipe Order: perpanjang",
                                        "type": "date",
                                        "example": "2020-10-25"
                                    },
                                    "sertifikat_upload_old": {
                                        "description": "File Sertifikat Lama, Ekstensi: JPG, JPEG, PNG atau PDF",
                                        "type": "file",
                                        "example": "sertifikat_lama.pdf"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/order/{id}": {
            "get": {
                "tags": [
                    "Order"
                ],
                "summary": "Order Detail by ID",
                "operationId": "App\\Http\\Controllers\\Api\\OrderController::show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Order id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Order"
                ],
                "summary": "Update Order by ID",
                "operationId": "App\\Http\\Controllers\\Api\\OrderController::update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Order id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update Order Data",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "transfer_from_bank_name": {
                                        "description": "Transfer dari Bank (Nama Bank)",
                                        "type": "string",
                                        "example": "bri"
                                    },
                                    "transfer_from_bank_account": {
                                        "description": "Transfer dari Bank (Nama Akun Bank)",
                                        "type": "string",
                                        "example": "john doe"
                                    },
                                    "transfer_from_bank_number": {
                                        "description": "Transfer dari Bank (Nomor Akun Bank)",
                                        "type": "string",
                                        "example": "3322114456"
                                    },
                                    "bukti_transfer": {
                                        "description": "Bukti Transfer Ekstensi: JPG, JPEG, PNG atau PDF",
                                        "type": "file",
                                        "example": "bukti_transfer.pdf"
                                    },
                                    "bank_id": {
                                        "description": "TUK Bank ID Tujuan Transfer",
                                        "type": "int",
                                        "example": "1"
                                    },
                                    "transfer_date": {
                                        "description": "Tanggal Transfer",
                                        "type": "date",
                                        "example": "2020-10-31"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/password/reset": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Reset Password",
                "operationId": "App\\Http\\Controllers\\Api\\PasswordController::reset",
                "requestBody": {
                    "description": "Request Reset Password",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "account email",
                                        "type": "string",
                                        "example": "johndoe@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/password/change": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Change Password",
                "operationId": "App\\Http\\Controllers\\Api\\PasswordController::change",
                "requestBody": {
                    "description": "Request Change Password",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "account email",
                                        "type": "string",
                                        "example": "johndoe@example.com"
                                    },
                                    "password": {
                                        "description": "new password",
                                        "type": "string",
                                        "example": "test1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/sertifikasi": {
            "get": {
                "tags": [
                    "Sertifikasi"
                ],
                "summary": "Sertifikasi Lists",
                "operationId": "App\\Http\\Controllers\\Api\\SertifikasiController::index",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/sertifikasi/{id}": {
            "get": {
                "tags": [
                    "Sertifikasi"
                ],
                "summary": "Sertifikasi Detail By ID",
                "operationId": "App\\Http\\Controllers\\Api\\SertifikasiController::show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sertifikasi id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/user/me": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Show User Detail",
                "operationId": "App\\Http\\Controllers\\Api\\UserController::me",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/email/verify": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Email Verification",
                "operationId": "App\\Http\\Controllers\\Api\\VerificationController::verify",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/email/resend": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Resend Email Verification",
                "operationId": "App\\Http\\Controllers\\Api\\VerificationController::resend",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "passport": {
                "type": "apiKey",
                "description": "Laravel passport oauth2 security.",
                "in": "header",
                "name": "Authorization",
                "scheme": "https",
                "flows": {
                    "password": {
                        "authorizationUrl": "http://localhost/oauth/authorize",
                        "tokenUrl": "http://localhost/oauth/token",
                        "refreshUrl": "http://localhost/token/refresh",
                        "scopes": []
                    }
                }
            }
        }
    }
}