{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://admin.lsp-mpsdm.com",
            "description": "Production API Server"
        },
        {
            "url": "https://admin-staging.lsp-mpsdm.com",
            "description": "Staging API Server"
        },
        {
            "url": "http://127.0.0.1:8000",
            "description": "Local Development API Server"
        }
    ],
    "paths": {
        "/api/apl01": {
            "get": {
                "tags": [
                    "APL01"
                ],
                "summary": "Asesi APL01 Data",
                "operationId": "App\\Http\\Controllers\\Api\\Apl01Controller::index",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "APL01"
                ],
                "summary": "Update APL01 Data",
                "operationId": "App\\Http\\Controllers\\Api\\Apl01Controller::store",
                "requestBody": {
                    "description": "Update APL01 Data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Nama Lengkap",
                                        "type": "string",
                                        "example": "john doe"
                                    },
                                    "address": {
                                        "description": "Alamat Lengkap",
                                        "type": "string",
                                        "example": "Jl. Ahmad Yani No. 1 RT 1 RW 2, Dukuh Menanggal, Surabaya, Jawa Timur"
                                    },
                                    "phone_number": {
                                        "description": "Nomor Telpon",
                                        "type": "string",
                                        "example": "081212341234"
                                    },
                                    "gender": {
                                        "description": "Jenis Kelamin: pria/wanita",
                                        "type": "string",
                                        "example": "pria"
                                    },
                                    "birth_place": {
                                        "description": "Tempat Lahir",
                                        "type": "string",
                                        "example": "Surabaya"
                                    },
                                    "birth_date": {
                                        "description": "Tanggal Lahir, Date Format: Y-m-d",
                                        "type": "date",
                                        "example": "2020-01-01"
                                    },
                                    "no_ktp": {
                                        "description": "Nomor KTP, Example: 1234567890123456",
                                        "type": "string",
                                        "example": "1234567890123456"
                                    },
                                    "pendidikan_terakhir": {
                                        "description": "Pendidikan Terakhir: SMA/SMK/D1/D2/D3/D4/S1/S2/S3",
                                        "type": "string",
                                        "example": "SMA"
                                    },
                                    "has_job": {
                                        "description": "Apakah memiliki pekerjaan?, Example: true = bekerja, false = tidak bekerja",
                                        "type": "boolean",
                                        "example": "1"
                                    },
                                    "job_title": {
                                        "description": "Jenis/Pangkat Pekerjaan",
                                        "type": "string",
                                        "example": "Teknisi"
                                    },
                                    "job_address": {
                                        "description": "Alamat Pekerjaan",
                                        "type": "string",
                                        "example": "Jl. Raya Darmo, Surabaya, Jawa Timur"
                                    },
                                    "company_name": {
                                        "description": "Nama Perusahaan",
                                        "type": "string",
                                        "example": "IT Tech"
                                    },
                                    "company_phone": {
                                        "description": "Nomor Telpon Perusahaan",
                                        "type": "string",
                                        "example": "02112341234"
                                    },
                                    "company_email": {
                                        "description": "Email Perusahaan",
                                        "type": "string",
                                        "example": "company@test.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/apl01/customdata": {
            "post": {
                "tags": [
                    "APL01"
                ],
                "summary": "Update APL01 Custom Data",
                "operationId": "App\\Http\\Controllers\\Api\\Apl01Controller::customdata",
                "requestBody": {
                    "description": "Update Custom Data",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "customdataid": {
                                        "description": "Custom Data ID dari Index Custom Data dari API: GET /api/apl01 object customdata",
                                        "type": "integer",
                                        "example": "1"
                                    },
                                    "value": {
                                        "description": "Value ini berbeda-beda inputannya,\n     *                         tergantung dari custom data, jika file upload, maka berupa file ekstensi: JPG/JPEG/PNG/PDF,\n     *                          jika dropdown maka sesuai value dari dropdown_option, jika text, maka text biasa.",
                                        "type": "file",
                                        "example": "scan_ijazah.pdf"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/apl02": {
            "get": {
                "tags": [
                    "APL02"
                ],
                "summary": "Asesi APL02 Index Data",
                "operationId": "App\\Http\\Controllers\\Api\\Apl02Controller::index",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "APL02"
                ],
                "summary": "Update APL02 Unit Kompetensi Element",
                "operationId": "App\\Http\\Controllers\\Api\\Apl02Controller::updateElement",
                "requestBody": {
                    "description": "Update Unit Kompetensi Element",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "description": "ID Unit Kompetensi Element",
                                        "type": "integer",
                                        "example": "5"
                                    },
                                    "value": {
                                        "description": "File upload. Ekstensi: JPG/JPEG/PNG/PDF",
                                        "type": "file",
                                        "example": "cara_penerapan_xxx.pdf"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/apl02/{id}": {
            "get": {
                "tags": [
                    "APL02"
                ],
                "summary": "APL02 Detail By ID",
                "operationId": "App\\Http\\Controllers\\Api\\Apl02Controller::show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sertifikasi id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Sign In",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::login",
                "requestBody": {
                    "description": "Login Credential",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "account email",
                                        "type": "string",
                                        "example": "johndoe@example.com"
                                    },
                                    "password": {
                                        "description": "account password",
                                        "type": "string",
                                        "format": "password",
                                        "example": "pass1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register Account",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::register",
                "requestBody": {
                    "description": "Register Account",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "Login Function.",
                                        "type": "string",
                                        "format": "email",
                                        "example": "johndoe@example.com"
                                    },
                                    "password": {
                                        "description": "Login Function.",
                                        "type": "string",
                                        "format": "password",
                                        "example": "pass1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/order": {
            "get": {
                "tags": [
                    "Order"
                ],
                "summary": "Order Index",
                "operationId": "App\\Http\\Controllers\\Api\\OrderController::index",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Order"
                ],
                "summary": "Create New Order",
                "operationId": "App\\Http\\Controllers\\Api\\OrderController::store",
                "requestBody": {
                    "description": "Update Order Data",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "sertifikasi_id": {
                                        "description": "Sertifikasi ID",
                                        "type": "number",
                                        "example": "1"
                                    },
                                    "tuk_id": {
                                        "description": "TUK ID",
                                        "type": "number",
                                        "example": "1"
                                    },
                                    "tipe_sertifikasi": {
                                        "description": "Tipe Order, Example: baru/perpanjang",
                                        "type": "string",
                                        "example": "baru"
                                    },
                                    "training": {
                                        "description": "Order dengan Training",
                                        "type": "boolean",
                                        "example": "false"
                                    },
                                    "sertifikat_number_old": {
                                        "description": "Nomor Sertifikat Lama, Kirimkan value jika Tipe Order: perpanjang",
                                        "type": "boolean",
                                        "example": "123-123-123"
                                    },
                                    "sertifikat_date_old": {
                                        "description": "Tanggal Sertifikat Lama, Kirimkan value jika Tipe Order: perpanjang",
                                        "type": "date",
                                        "example": "2020-10-25"
                                    },
                                    "sertifikat_upload_old": {
                                        "description": "File Sertifikat Lama, Ekstensi: JPG, JPEG, PNG atau PDF",
                                        "type": "file",
                                        "example": "sertifikat_lama.pdf"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/order/{id}": {
            "get": {
                "tags": [
                    "Order"
                ],
                "summary": "Order Detail by ID",
                "operationId": "App\\Http\\Controllers\\Api\\OrderController::show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Order id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Order"
                ],
                "summary": "Update Order by ID",
                "operationId": "App\\Http\\Controllers\\Api\\OrderController::update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Order id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update Order Data",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "transfer_from_bank_name": {
                                        "description": "Transfer dari Bank (Nama Bank)",
                                        "type": "string",
                                        "example": "bri"
                                    },
                                    "transfer_from_bank_account": {
                                        "description": "Transfer dari Bank (Nama Akun Bank)",
                                        "type": "string",
                                        "example": "john doe"
                                    },
                                    "transfer_from_bank_number": {
                                        "description": "Transfer dari Bank (Nomor Akun Bank)",
                                        "type": "string",
                                        "example": "3322114456"
                                    },
                                    "bukti_transfer": {
                                        "description": "Bukti Transfer Ekstensi: JPG, JPEG, PNG atau PDF",
                                        "type": "file",
                                        "example": "bukti_transfer.pdf"
                                    },
                                    "bank_id": {
                                        "description": "TUK Bank ID Tujuan Transfer",
                                        "type": "int",
                                        "example": "1"
                                    },
                                    "transfer_date": {
                                        "description": "Tanggal Transfer",
                                        "type": "date",
                                        "example": "2020-10-31"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/password/reset": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Reset Password",
                "operationId": "App\\Http\\Controllers\\Api\\PasswordController::reset",
                "requestBody": {
                    "description": "Request Reset Password",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "account email",
                                        "type": "string",
                                        "example": "johndoe@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/password/change": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Change Password",
                "operationId": "App\\Http\\Controllers\\Api\\PasswordController::change",
                "requestBody": {
                    "description": "Request Change Password",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "account email",
                                        "type": "string",
                                        "example": "johndoe@example.com"
                                    },
                                    "password": {
                                        "description": "new password",
                                        "type": "string",
                                        "example": "test1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/sertifikasi": {
            "get": {
                "tags": [
                    "Sertifikasi"
                ],
                "summary": "Sertifikasi Lists",
                "operationId": "App\\Http\\Controllers\\Api\\SertifikasiController::index",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/sertifikasi/{id}": {
            "get": {
                "tags": [
                    "Sertifikasi"
                ],
                "summary": "Sertifikasi Detail By ID",
                "operationId": "App\\Http\\Controllers\\Api\\SertifikasiController::show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Sertifikasi id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/ujian": {
            "get": {
                "tags": [
                    "Ujian"
                ],
                "summary": "Jadwal Ujian Asesi",
                "operationId": "App\\Http\\Controllers\\Api\\UjianController::jadwal",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/ujian/{id}": {
            "get": {
                "tags": [
                    "Ujian"
                ],
                "summary": "Detail Ujian Soal dan Jawaban By ID",
                "operationId": "App\\Http\\Controllers\\Api\\UjianController::soal",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ujian id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/ujian/jawaban": {
            "post": {
                "tags": [
                    "Ujian"
                ],
                "summary": "Menjawab Pertanyaan Dari Ujian",
                "operationId": "App\\Http\\Controllers\\Api\\UjianController::jawaban",
                "requestBody": {
                    "description": "Menjawab Pertanyaan",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "description": "ID Pertanyaan",
                                        "type": "integer",
                                        "example": "5"
                                    },
                                    "answer": {
                                        "description": "Jawaban Pertanyaan, Bisa untuk multiple_option atau essay",
                                        "type": "string",
                                        "example": "C"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/ujian/{id}/start": {
            "post": {
                "tags": [
                    "Ujian"
                ],
                "summary": "Start Ujian DateTime",
                "operationId": "App\\Http\\Controllers\\Api\\UjianController::start",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ujian id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/ujian/jawaban/bulksave": {
            "post": {
                "tags": [
                    "Ujian"
                ],
                "summary": "Menjawab Pertanyaan Dari Ujian",
                "operationId": "App\\Http\\Controllers\\Api\\UjianController::bulkSave",
                "requestBody": {
                    "description": "Bulk Save Jawaban",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ujian_id": {
                                        "description": "ID Ujian",
                                        "type": "integer",
                                        "example": "10"
                                    },
                                    "ids": {
                                        "description": "ID Pertanyaan",
                                        "type": "object",
                                        "example": [
                                            2,
                                            5
                                        ]
                                    },
                                    "answers": {
                                        "description": "Jawaban Pertanyaan",
                                        "type": "object",
                                        "example": {
                                            "2": "B",
                                            "5": "C"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/user/me": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Show User Detail",
                "operationId": "App\\Http\\Controllers\\Api\\UserController::me",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/email/verify": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Email Verification",
                "operationId": "App\\Http\\Controllers\\Api\\VerificationController::verify",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/api/email/resend": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Resend Email Verification",
                "operationId": "App\\Http\\Controllers\\Api\\VerificationController::resend",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "passport": {
                "type": "apiKey",
                "description": "Laravel passport oauth2 security.",
                "in": "header",
                "name": "Authorization",
                "scheme": "https",
                "flows": {
                    "password": {
                        "authorizationUrl": "http://localhost/oauth/authorize",
                        "tokenUrl": "http://localhost/oauth/token",
                        "refreshUrl": "http://localhost/token/refresh",
                        "scopes": []
                    }
                }
            }
        }
    }
}