.table-bordered th,
.table-bordered td {
    border: 1px solid black !important;
}
.dash {
    border-bottom: 1px dashed #000000 !important;
}

textarea {
    resize: none;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid black !important;
    }
    .dash {
        border-bottom: 1px dashed #000000 !important;
    }

    .noprint{
        display:none;
    }

    textarea {
        border: 0;
    }
}
